<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Food Items</title>-->
<!--</head>-->
<!--<body>-->
<!--<ul>-->
<!--    <li th:each="foodItem : ${foodItems}">-->
<!--        <span th:text="${foodItem.name}">Food Name</span>-->
<!--        <span th:text="${foodItem.price}">Price</span>-->
<!--        <form th:action="@{/basket/add}" method="post">-->
<!--            <input type="hidden" th:value="${foodItem.id}" name="foodItemId"/>-->
<!--            <button type="submit">Add to Basket</button>-->
<!--        </form>-->
<!--    </li>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->